@define-color rosewater      #00f7ff;
@define-color rosewater-rgb  rgb(0, 247, 255);

@define-color flamingo       #00e0ff;
@define-color flamingo-rgb   rgb(0, 224, 255);

@define-color pink           #ff2dfb;
@define-color pink-rgb       rgb(255, 45, 251);

@define-color mauve          #7a00ff;
@define-color mauve-rgb      rgb(122, 0, 255);

@define-color red            #ff003c;
@define-color red-rgb        rgb(255, 0, 60);

@define-color maroon         #ff0055;
@define-color maroon-rgb     rgb(255, 0, 85);

@define-color peach          #ff7b00;
@define-color peach-rgb      rgb(255, 123, 0);

@define-color yellow         #ffe600;
@define-color yellow-rgb     rgb(255, 230, 0);

@define-color green          #00ff88;
@define-color green-rgb      rgb(0, 255, 136);

@define-color teal           #00ffd5;
@define-color teal-rgb       rgb(0, 255, 213);

@define-color sky            #00c3ff;
@define-color sky-rgb        rgb(0, 195, 255);

@define-color sapphire       #0088ff;
@define-color sapphire-rgb   rgb(0, 136, 255);

@define-color blue           #0066ff;
@define-color blue-rgb       rgb(0, 102, 255);

@define-color lavender       #b300ff;
@define-color lavender-rgb   rgb(179, 0, 255);

@define-color text           #e6fcff;
@define-color text-rgb       rgb(230, 252, 255);

@define-color subtext1       #9fb8d9;
@define-color subtext1-rgb   rgb(159, 184, 217);

@define-color subtext0       #6e8fb8;
@define-color subtext0-rgb   rgb(110, 143, 184);

@define-color overlay2       #3a4a6a;
@define-color overlay2-rgb   rgb(58, 74, 106);

@define-color overlay1       #2a3550;
@define-color overlay1-rgb   rgb(42, 53, 80);

@define-color overlay0       #1c253a;
@define-color overlay0-rgb   rgb(28, 37, 58);

@define-color surface2       #162033;
@define-color surface2-rgb   rgb(22, 32, 51);

@define-color surface1       #121a2b;
@define-color surface1-rgb   rgb(18, 26, 43);

@define-color surface0       #0f1624;
@define-color surface0-rgb   rgb(15, 22, 36);

@define-color base           #0a0f1a;
@define-color base-rgb       rgb(10, 15, 26);

@define-color mantle         #070b14;
@define-color mantle-rgb     rgb(7, 11, 20);

@define-color crust          #05080f;
@define-color crust-rgb      rgb(5, 8, 15);

* {
  font-family: 'Inconsolata Nerd Font', monospace;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 0.16em solid @lavender;
  border-radius: 0.1em;
  background-color: @base;
  animation: slideIn 0.5s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

#input image {
    border: none;
    color: @red;
}

#input * {
  outline: 4px solid @red!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @lavender;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @lavender;
}

#entry:selected #text {
  color: @mauve;
}

#entry:drop(active) {
  background-color: @lavender!important;
}